<%= simple_form_for @flight, url: flights_path, method: :get do |f| %>
    <%= f.input :departure_airport_id, as: :select, collection: @airports, label_method: :second, value_method: :first, required: true%>
    <%= f.input :arrival_airport_id, as: :select, collection: @airports, label_method: :second, value_method: :first, required: true %>
    <%= f.input :departure_time, as: :date, html5: true, input_html: { min: Date.today } %>
    <%= f.input :passengers, as: :integer, input_html: { min: 1, max: 4, value: 1} %>
    <%= f.submit "Search flights" %>
<% end %>

<% if @flights %>
    <h3>Found <%= @flights.count %> relevant flights</h3>

    <%= @passengers %>

    <h2>Available flights based on the search</h2>
    <%= form_for :booking, url: new_booking_path, method: :get do |f| %>
        <%= f.hidden_field :passengers_count, value: @passengers %>
        <% @flights.each do |flight| %>
            <%= f.label :flight_id, value: flight.id do %>
                <div style="border: 1px solid black; margin: 10px 10px; padding: 20px;">
                    <%= render partial: "flight", locals: { flight: flight } %> 
                    <%= f.radio_button :flight_id, flight.id, required: true %> <span>Select this flight</span>
                </div>
            <% end %>
        <% end %>
        <%= f.submit "Book selected flight", style: "margin: 10px 10px; padding: 20px;" %>
    <% end %>
<% end %>