<%= simple_form_for @flight, url: flights_path, method: :get do |f| %>
    <%= f.input :departure_airport_id, as: :select, collection: @airports, label_method: :second, value_method: :first, required: true%>
    <%= f.input :arrival_airport_id, as: :select, collection: @airports, label_method: :second, value_method: :first, required: true %>
    <%= f.input :departure_time, as: :date, html5: true, input_html: { min: Date.today } %>
    <%= f.input :passengers, as: :integer, input_html: { min: 1, max: 4, value: 1} %>
    <%= f.submit "Search flights" %>
<% end %>

<% if @flights %>
    <h3>Found <%= @flights.count %> relevant flights</h3>

    <%= @passengers %>

    <h2>Available flights based on the search</h2>
    <%= form_for :booking, url: new_booking_path, method: :get do |f| %>
        <%= f.hidden_field :passengers, value: @passengers %>
        <% @flights.each do |flight| %>
            <%= f.label :flight_id, value: flight.id do %>
                <div style="border: 1px solid black; margin: 10px 10px; padding: 20px;">
                    <p>Flight from <strong><%= flight.departure_airport.code %></strong> to <strong><%= flight.arrival_airport.code %></strong></p>
                    <p>Estimated departure: <strong><%= flight.departure_time.strftime("%H:%M") %></strong> on <em><%= flight.departure_time.strftime("%d %b %Y, %a") %></em></p>
                    <p>Flight duration: <strong>
                        <% duration_converted = Time.at(flight.duration.minutes - 1.day).utc %>
                        <% duration_text = Array.new %>
                        
                        <% duration_text.push(pluralize(duration_converted.day, 'day')) if duration_converted.day != 31 %>
                        <% duration_text.push(pluralize(duration_converted.hour, 'hour')) if duration_converted.hour != 0 %>
                        <% duration_text.push(pluralize(duration_converted.min, 'minute')) if duration_converted.min != 0 %>
                        <%= duration_text.join(" and ") %>
                    </strong></p>
                    <%= f.radio_button :flight_id, flight.id, required: true %> <span>Select this flight</span>
                </div>
            <% end %>
        <% end %>
        <%= f.submit "Book selected flight", style: "margin: 10px 10px; padding: 20px;" %>
    <% end %>
<% end %>