<h1>New booking for flight #<%= @booking.flight_id %> with <%= pluralize(@passengers_count, 'passenger') %></h1>
<div style="border: 1px solid black; margin: 10px 10px; padding: 20px;">
    <h2>Flight information</h2>
    <%= render partial: "flights/flight", locals: { flight: @booking.flight } %>
</div>

<div style="border: 1px solid black; margin: 10px 10px; padding: 20px;">
    <h2>Booking information</h2>
    <%= form_with model: @booking do |form| %>
        <%= form.hidden_field :passengers_count, value: @booking.passengers.size %>
        <%= form.hidden_field :flight_id, value: @booking.flight_id %>
            <%= form.fields_for :passengers do |passenger_form| %>
                <h3>Passenger <%= passenger_form.index + 1 %></h3>
                <%= render partial: 'passengers/form', locals: { f: passenger_form } %>
            <% end %>
        <%= form.submit "Confirm Booking"%>
    <% end %>
</div>