<h1>New booking for flight #<%= @booking.flight_id %> with <%= @passengers.count %> passengers</h1>



<div style="border: 1px solid black; margin: 10px 10px; padding: 20px;">
    <h2>Flight information</h2>
    <%= render partial: "flights/flight", locals: { flight: Flight.find(@booking.flight_id) } %>
</div>

<div style="border: 1px solid black; margin: 10px 10px; padding: 20px;">
    <h2>Booking information</h2>
    <%= form_with model: @booking do |form| %>
        <% @passengers.each_with_index do |passenger, id| %>
            <%= form.fields_for passenger, index: id do |passenger_form| %>
                <div>
                    <h3>Passenger <%= id + 1 %></h3>
                    <p><%= passenger_form.label :name, "Passenger name" %> <%= passenger_form.text_field :name, required: true, minlength: 4, maxlength: 16 %></p>
                    <p><%= passenger_form.label :email, "Passenger email" %> <%= passenger_form.email_field :email, required: true %></p>
                </div>
            <% end %>
        <% end %>
        <%= form.submit "Confirm Booking"%>
    <% end %>
</div>